<h1><%= @candy.name %> Details</h1>
<div>
<li> Type: <%= @candy.candy_type %> </li>
<li> Flavor: <%= @candy.flavor %> </li>
<p> Description: <%= @candy.description %> </p>

<%= link_to "Return to Candy Galore", candies_path %>