<h1><%= @customer.f_name %>'s Details </h1>

<p>Name: <%= @customer.f_name %> <%= @customer.l_name %></p>
<p>Username: <%= @customer.username %></p>

<%= link_to "Back to Candies Galore", candies_path %>
